{% extends 'w3admin/elements/layouts/admin.html' %}


<!-- Additional Css -->
{% block additional_css  %}
<link rel="stylesheet" href="{{ url_for('static', filename=  'w3admin/vendor/summernote/summernote.css')}}">
{% endblock %}

{% block content %}

<!--**********************************
    Content body start
***********************************-->
<div class="outer-body">
    <div class="inner-body">
        <div class="content-body">
            <div class="container-fluid">
                <!-- row -->
                <div class="row">
                    <div class="col-xl-12 col-xxl-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Form CkEditor</h4>
                            </div>
                            <div class="card-body custom-ekeditor">
                                <div id="ckeditor"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer out-footer">
            <div class="copyright">
                <p>Copyright © Developed by <a href="https://dexignzone.com/" target="_blank">DexignZone</a> 2024</p>
            </div>
        </div>
    </div>
</div>
<!--**********************************
    Content body end
***********************************-->


{% endblock %}

{% block additional_js  %}
<script src="{{ url_for('static', filename='w3admin/vendor/ckeditor/ckeditor.js')}}"></script>
{% endblock %}