{% extends 'w3admin/elements/layouts/admin.html' %}


<!-- Additional Css -->
{% block additional_css  %}

{% endblock %}


{% block content %}

<!--**********************************
    Content body start
***********************************-->
<div class="outer-body">
    <div class="inner-body">
        <div class="content-body">
            <div class="container-fluid">
                <!-- row -->
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Donught Chart</h4>
                                    </div>
                                    <div class="card-body">
                                        <div id="morris_donught" class="morris_chart_height"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Line Chart</h4>
                                    </div>
                                    <div class="card-body p-0">
                                        <div id="morris_line" class="morris_chart_height"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Bar Chart</h4>
                                    </div>
                                    <div class="card-body">
                                        <div id="morris_bar" class="morris_chart_height"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Line Chart</h4>
                                    </div>
                                    <div class="card-body">
                                        <div id="line_chart_2" class="morris_chart_height"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Bar Chart</h4>
                                    </div>
                                    <div class="card-body">
                                        
                                        <div id="morris_bar_stalked" class="morris_chart_height"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Area Chart</h4>
                                    </div>
                                    <div class="card-body">
                                        <div id="morris_area" class="morris_chart_height"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer out-footer">
            <div class="copyright">
                <p>Copyright © Developed by <a href="https://dexignzone.com/" target="_blank">DexignZone</a> 2024</p>
            </div>
        </div>
    </div>
</div>
<!--**********************************
    Content body end
***********************************-->

{% endblock %}

{% block additional_js  %}
<script src="{{ url_for('static', filename='w3admin/vendor/chart.js/Chart.bundle.min.js')}}"></script>
<script src="{{ url_for('static', filename='w3admin/vendor/apexchart/apexchart.js')}}"></script>
<script src="{{ url_for('static', filename='w3admin/vendor/raphael/raphael.min.js')}}"></script>
<script src="{{ url_for('static', filename='w3admin/vendor/morris/morris.min.js')}}"></script>
<script src="{{ url_for('static', filename='w3admin/js/plugins-init/morris-init.js')}}"></script>
{% endblock %}